html
   head
      title Home Page
   body
   a(href='/signin') Signin
   br
   a(href='/logout') Logout
   br
   a(href='/posts') Posts
   br
   h4 Welcome :)
   br
   if(message)
      h4 #{message}
 