html
   head
      title Sign Up
   body
   form(action = "/signup" method = 'post')
      input(id='first_name', name = "first_name" type = "text" required placeholder = "First Name")
      br
      input(id='last_name', name = "last_name" type = "text" required placeholder = "Last Name")
      br
      input(id='email', name = "email" type = "text" required placeholder = "Email")
      br
      input(id='user_name', name = "user_name" type = "text" required placeholder = "User Name")
      br
      input(id='password', name = "password" type = "text" required placeholder = "Password")
      br
      button(type = "Submit") Sign me up!
      if(message)
         h4 #{message}
         br
         a(href='/signin') Signin
     